<div class="container-fluid top-welcome">
    <div class="container-fluid">
        <p class="user-name">Welcome, Bakari Kilu </p>
    </div>
    <div class="container"></div>
</div>
<div class="container-fluid">
    <div class="row div-box">
        <div class="col-lg-3 col-md-6 col-sm-12 box"></div>
        <div class="col-lg-3 col-md-6 col-sm-12 box"></div>
        <div class="col-lg-3 col-md-6 col-sm-12 box"></div>
        <div class="col-lg-3 col-md-6 col-sm-12 box"></div>
    </div>
</div>